    <html>
        <head>
            <title>Django Girls Ananaso</title>
        </head>
        <body>
            <div>
                <h1><a href="">Добро пожаловать на страницу блога Ananaso</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Урашечки</a></h2>
                <p>Каждый день нужно учиться чему-то новому. Сегодня я научилась делать сайт. Ура!.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Это оказывается не так страшно :)))</a></h2>
                <p>До этого я никогда раньше не создавала свой сайт. Спасибо большое организаторам Django Girls и Python Moscow за то, что теперь я не только умею варить борщ, но и смогу сделать сайт с фортками и инструкциями,как его можно приготовить :).</p>
            </div>
        </body>
    </html>